@import 'styles/global.scss';

.container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 70px;
  align-items: center;
  > .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #c4c4c4;
  }
}
@include media('<tablet') {
  .container {
    margin: 50px auto;
  }
}
