@import 'styles/global.scss';

.container {
  display: flex;
  justify-content: space-between;
  .author-photo {
    img {
      object-fit: cover;
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }
  > .author-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  > .time-ago {
    align-self: flex-end;
  }
}
