@import 'styles/global.scss';

.container {
  cursor: pointer;
  max-width: 277px;
  min-height: 180px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  > .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;

    > .title {
      font-size: 18px;
      font-weight: bold;
    }
    > .author {
      display: flex;
      justify-content: space-between;
      > .name {
      }
      > .date {
        position: relative;
        display: flex;
        column-gap: 10px;
        align-items: center;
        > .dot {
          width: 2px;
          height: 2px;
          border-radius: 50%;
          background-color: black;
        }
      }
      > .duration {
      }
    }
  }
}
