/**
 * TYPOGRAPHY
*/
$h1-font-size: 3.714rem; // 52px
$h1-line-height: 4.375rem; // 61.25px
$h2-font-size: 2.857rem; // 40px
$h2-line-height: 3.929rem; // 55px
$h3-font-size: 2.286rem; // 32px
$h3-line-height: 3.214rem; // 45px
$h4-font-size: 1.714rem; // 24px
$h4-line-height: 2.5rem; // 35px
$h5-font-size: 1.429rem; // 20px
$h5-line-height: 2.214rem; // 31px
$h6-font-size: 1.286rem; // 18px
$h6-line-height: 2.143rem; // 30px
$title-font-size: 1.143rem; // 16px
$body-font-size: 1rem; // 14px default by antd
$body-line-height: 1.786rem; // 25px
$caption-font-size: 0.8571rem; // 12px
$caption-line-height: 1.643rem; // 23px
