@import 'styles/global.scss';

.container {
  > .tag-suggestion {
    background-color: #111111;
    padding: 10px;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    overflow-y: auto;
    > div {
      width: fit-content;
    }
  }
}
@include media('<tablet') {
  .container > .tag-suggestion {
    justify-content: flex-start;
  }
}
