@import 'styles/global.scss';

.container {
  margin: auto;
  padding: 110px 0;
  max-width: 750px;
  > .pagination {
    display: flex;
    justify-content: center;
  }

  > .title {
    font-weight: bold;
    font-size: 42px;
    line-height: 53px;

    color: #000000;
  }
}

@include media('<tablet') {
  .container {
    padding: 40px 0;
    > .title {
      width: fit-content;
      margin: 0 auto;
      font-weight: bold;
      font-size: 24px;
      line-height: 53px;

      color: #000000;
    }
  }
}
