@import 'styles/global';

.container {
  text-align: center;
  min-width: 100px;
  color: white;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
.is-active {
  background: #143fe4;
}
