@import 'styles/global.scss';

.container {
  > .blogs {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 40px;
  }
}

@include media('<tablet') {
  .container > .blogs {
    grid-template-columns: 1fr;
  }
}

