@import 'styles/global.scss';

.container {
  > .select-field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8b8e99;
    box-sizing: border-box;
    border-radius: 4px;
    color: white;
    width: fit-content;
    padding: 13px 20px;
    font-size: 14px;
    line-height: 25px;
    column-gap: 10px;
    > .options {
      display: flex;
      padding: 10px;
      position: absolute;
      top: 53px;
      width: 100%;
      color: black;
      flex-direction: column;
      row-gap: 10px;
      background-color: white;
      &.hide {
        display: none;
      }
    }
  }
}

@include media('<tablet') {
  .container {
  }
}
